<div class="card e2e-planet">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{planet.name}}</h6>

    <div class="row">
      <div class="col-sm-2">Population:</div>
      <div class="col-sm-10 e2e-population">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Climate:</div>
      <div class="col-sm-10 e2e-climate">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Gravity:</div>
      <div class="col-sm-10 e2e-gravity">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
